p,
h2,
.motBlue {
    color: blue;
}

h1 {
    color: red;
}

.titreRed,
.paragrapheRed {
    color: red;
    font-size: 30px;
    ;
}

#photo {
    width: 300px;
    height: auto;
}

#jardin {
    /* taille de texte absolue */
    font-size: 30px;
}

#cuisine {
    /* taille de texte relative */
    font-size: 2rem;
}

.titleListe {
    font-family: 'Young Serif', serif;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline !important;
    text-align: center;
}

.image {
    /* color hexa */
    color: #256525;
}

div a:nth-child(1) {
    /* color rgb */
    color: rgb(25, 65, 84);
}

body {
    background-color: #000000;
}